/*Structure*/
body{color:#333;}

/*Header*/
#logo{background-color:#000;}
#logo span{color:#fff;}

/*Margin & Paddings*/
.icheckbox_square-green{margin-right:5px;}
.m-t15{margin-top:15px!important;}
.m-b10{margin-bottom:10px!important;}
.m-b20{margin-bottom:20px!important;}
.m-b30{margin-bottom:30px!important;}
.m-r10{margin-right:10px!important;}
.m-t10{margin-top:10px!important;}
.m-t20{margin-top:20px!important;}
.m-t30{margin-top:30px!important;}
.m-t7{margin-top:7px!important;}
.m-t5{margin-top:5px!important;}
.m-r5{margin-right:5px!important;}
.m-t20{margin-top:20px!important;}
.m-t25{margin-top:25px!important;}
.m-b0{margin-bottom:0px!important;}
.m-r0{margin-right:0px!important;}
.m-l5{margin-left:5px!important;}
.m-l10{margin-left:10px!important;}
.m-tb10{margin-top:10px!important;margin-bottom:10px!important;}
.m-t0{margin-top:0px!important;}
.p-l0{padding-left:0!important;}
.p-b20{padding-bottom:20px!important;}
.p-r0{padding-right:0px!important;}
.p-t5{padding-top:5px!important;}
.w-10{width:10%;float:left;}
.p-0{padding:0px!important;}
.p-l0{padding-left:0px!important;}
.p-l5{padding-left:5px!important;}
.p-r5{padding-right:5px!important;}
.p-lr5{padding-right:5px!important;padding-left:5px!important;}
.p-r15{padding-right:15px!important;}
.p-lr0{padding-left:0px!important;padding-right:0px!important;}
.m-l15{margin-left:15px!important;}
.m-r15{margin-right:15px!important;}
.valign-middle{vertical-align:middle!important;}
.br-t0{border-top:0px!important;}
.m-b15{margin-bottom:15px!important;}
.p-t10{padding-top:10px!important;}

/*Common Views*/
.link-forgot-password{margin-top:10px;text-align:right;padding-right:0;}
.btn-block{margin-top:10px;}
#loginForm .checkbox{padding-left:0}
body .login-container .hpanel .panel-body{padding-bottom:20px}

/*Common*/
.panel-heading{font-size:16px}
.same-as-invoice-block{margin-top:-25px;width:100%;margin-bottom:5px;}
label span.error{margin-left:0}
.custom-row{margin-right:-15px;margin-left:-15px;}
.bdr-top0{border-top-color:transparent!important;}
:focus,a:focus{outline:none}

/*Loader*/
.spinner > div{background-color:#2283C4}
.icheckbox_square-green,.iradio_square-green{background:url("img/blue.png") no-repeat;}
.clear{clear:both;display:block;height:0px;}
.clear-l{clear:left;}
.clear-r{clear:right;}

/*color*/
.lbl-red{color:red;}
.lbl-grey{color:#333;}

/*Fonts*/
.font-16px{font-size:16px;}
.font-18px{font-size:18px;}

/*Buttons*/
.button-block{margin-top:15px;}
.button-block.right{text-align:right;}
.btn-default{background-color:#fff;border-color:#e4e5e7;color:#6a6c6f;}
.btn-success,.btn-success,.btn-success,.btn-success,.open .dropdown-toggle.btn-success{background-color:#3498DB;border-color:#3498DB;color:#fff;}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle
.btn-success{background-color:#2283C4;border-color:#2283C4;color:#fff;}
input[type="file"]{height:auto;min-height:34px;}
input[type=checkbox]:focus,input[type=radio]:focus{outline:none!important;}

/*Icons*/
.table .dropdown-menu .fa:before{font-size:15px!important;margin-right:5px;color:#333;}
.dropdown-menu > li > a{padding:5px 20px;}
.table a{color:#3498DB;text-decoration:none;}
.btn .fa{margin-right:6px;}

/*Navigations*/
#side-menu li.active, #side-menu li.router-link-active, #side-menu.nav > li > a:focus,#side-menu.nav > li > a:hover,#side-menu li.active li.active a, #side-menu li.router-link-active li.router-link-active a{background:#1D6FA5;color:#fff;position:relative;}
#side-menu li.active li,#side-menu li.router-link-active li,#side-menu.nav > li > li > a:focus,#side-menu.nav > li > li> a:hover{background:#fff;color:#6a6c6f;}
#side-menu li.active a, #side-menu li.router-link-active a ,#side-menu li:hover a{color:#fff;}

/*form-horizontal css*/
body label{font-weight:500;color:#101010;font-size:12px;}
body .panel-body .form-heading{color:#333;font-size:16px;font-weight:600;border-bottom:1px dotted #d5d5d5;padding-bottom:3px;margin-left:15px;}
.small-text{font-size:12px;}
body table label{font-size:13px;}
.normalheader{padding:0px;}
.normalheader .hpanel .panel-body{border:none;padding:14px 20px 8px;border-bottom:1px solid #e4e5e7;}
.normalheader .hpanel .panel-body h2{float:left;font-size:18px;color:#444;font-weight:500;text-transform:uppercase;margin-right:10px;}
.normalheader .hpanel .panel-body #hbreadcrumb,.normalheader .hpanel .panel-body .hbreadcrumb{margin-top:0px;}
.icheck-heading label{margin-bottom:0px;}
.icheck-heading label input[type="checkbox"]{position:relative;top:2px;margin:0;}
body .content{padding:15px 15px 30px 15px;}
.button-block{background-color:rgba(0,0,0,0.02);padding:12px;border-top:1px solid rgba(0,0,0,0.04);}
body .hpanel .panel-body{padding:20px 15px 0 15px}
.panel-body,.hpanel .panel-body{background-color:#fff;border-top:2px solid #1D6FA5;border-radius:2px;}
.table-bordered.table>thead>tr>th{background-color:#eaeaea;text-align:center;vertical-align:middle;font-size:13px;padding:5px;}
html body{font-size:12px;}
.white-bg,body table.table>thead>tr.ng-table-filters th{background-color:#fff;}
.form-control:focus{box-shadow:0 0 5px rgba(3,133,243,0.67);border:1px solid rgba(13,84,234,0.69);}
body table.table>thead>tr.ng-table-filters th input{font-weight:500;height:24px;min-height:24px!important;}
.form-control{height:34px;}
.form-control.ng-valid-date{background-color:#FFF;}
.p-l15{padding-left:15px!important;}
.description-section textarea{min-height:120px;}
.total-value{padding:10px 18px 15px;color:#fff;display:table;}
.total-value{background:url(../images/image-ribbon.png) no-repeat;height:140px;width:360px;background-size:100%;}
.total-value h2{font-size:19px;font-weight:600;letter-spacing:0.5px;margin-bottom:4px;margin-top:2.4rem;text-shadow:0 1px 0 rgba(0,0,0,0.3);padding-right:0px;max-width:98px;line-height:2.4rem;}
.total-value h2 span{margin-top:5px;display:block;word-break:break-all;}
.total-value h5{font-size:16px;font-weight:500;text-shadow:0 1px 8px rgba(0,0,0,0.8);}
.total-section{border-top:1px solid #ccc;margin-top:20px;padding-top:20px;}
.total-value h5 span{display:table;width:100%;font-size:14px;}
.total-value h5 span.ammount-section{font-size:2.5rem;font-weight:600;margin-bottom:5px!important;margin-top:15px;}
.costing-tbl-wrapper span h4{float:left;}
.form-inline-vtop.form-inline .form-group{vertical-align:top;}

/*Model*/
.modal-header{padding:7px 15px 7px 30px;border-radius:5px 5px 0 0;}
.modal-header .close{margin-top:5px;color:#000;opacity:0.7;}

/*Panel*/
.field-box{border:1px solid #e4e5e7;padding:10px;margin:10px auto 30px;float:none;width:97%;}
.field-box-title{background:white;top:-30px;display:inline-block;position:relative;margin:0;padding:0 10px;}
.field-box-title h4{margin-bottom:0}
.field-box.width100{width:100%;}

/*Remove webkit css*/
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;-moz-appearance:none;appearance:none;margin:0;}

/* For Firefox*/
input[type="number"]{-moz-appearance:textfield;}
.form-group.has-success label,.form-group.has-error label{color:#333;}
.field-box.col-md-12 .row .col-md-12 .col-md-3.col-sm-3 span.error,.custom-error{position:absolute;right:5px;top:-3px;color:#e74c3c;font-weight:400;font-weight:600;}
.chart-arrow i{color:#bfbfbf;font-size:20px;padding:10px 0;}

/*Tabs CSS*/
.horizontal-tab .nav-tabs{list-style:outside none none;margin:0;padding:0;width:100%;}
.horizontal-tab .nav-tabs a:hover,.horizontal-tab .nav-tabs a:hover::after,.horizontal-tab .nav-tabs a:focus,.horizontal-tab .nav-tabs a:focus:after{/* background:#fff; */border-color:#d5d5d5;}
.horizontal-tab .nav-tabs a:focus{outline:0 none;}
.vertical-tabs .tabs-left>.nav-tabs{margin-right:0px;}
.vertical-tabs .tabs-left .panel-body{margin-left:15%;}
.vertical-tabs .tabs-left > .nav-tabs{width:15%;}
.vertical-tabs .tabs-left .panel-body{width:85%;}
.vertical-tabs .tabs-left .horizontal-tab .panel-body{margin-left:0px;width:100%;}
.w150{width:150px;}
.w130{width:130px;}
.w40{width:40px;}
.w-50-per{width:50%!important;}
.price-section .form-group{display:table;}
.price-section .form-group input,.price-section .form-group label{display:table-cell;}
.main-data-table input[type="text"],.main-data-table select{padding:6px 4px;min-width:45px;}
.main-data-table table{max-width:inherit;}
a.accordion-toggle{display:block;}
.table-icheck .icheckbox_square-green{margin-right:0px;}
.f-bold{font-weight:700;}
body .panel-heading{padding-top:0px;padding-bottom:0px;}
body .panel-open .panel-heading{background-color:#1d6fa5;color:#fff;}
body .panel-heading a{padding-bottom:13px;padding-top:13px;}
body .panel-open .panel-heading a{color:#fff;}
body .input-group .form-control{padding-right:6px;padding-left:6px;}

/*Flow chart*/
body .hpanel .flowchart-style{padding:35px 0 20px 0}
.flowchart-style .col-md-2{width:12%}
.flowchart-style .chart-arrow{margin-left:12%;}
.panel-body .panel-body{border-top:none;}

/*Requirment Manual*/
.requirement-manuals-page input.form-control{text-align:center;width:100%;}

/*Size & Chart Module*/
.size-input input[type="text"],.size-input input[type="number"]{width:80px;margin-right:5px;}

/*Costing Module*/
.add-customer-label input.form-control{width:65%;margin-right:10px;}
.add-customer-label select{margin-left:10px;}
.add-customer-label.modal-body{padding-bottom:0}
.add-customer-label .button-block{padding-right:20px;}
.add-customer-label .form-group{position:relative;}
.add-customer-label .has-error.error-msg{position:absolute;top:2px;left:25px;}

/*Order Module*/
.print-btn{position:absolute;right:25px;top:15px;z-index:99;}

/*Critical Path Module*/
.nowrap,.nowrap-th table tr th{white-space:nowrap;}
.label-identification .table tr td{vertical-align:middle;}
.shipment-number label{font-size:16px;font-weight:600;}
.w-auto{width:auto;}
.pack-one{width:40px;margin:0 5px;padding:3px;display:inline-block;height:auto;}
.main-data-table .main-head-section td,.order-details-table .main-head-section td{background-color:#eaeaea}
.br-t0{border-top:0px!important;}
.m-t0{margin-top:0px!important;}
.w100{width:100px!important;}
.w80{width:80px!important;}
.form-inline.form-inline-input{display:table;width:165px;}
.form-inline.form-inline-input .form-control{display:table-cell;}
.d-table-cell{display:table-cell!important;}
.grand-total-order .d-table-cell .d-table-cell{max-width:272px;}
.print-btn.fa-print-body{right:0;top:-46px;}
.print-btn.fa-print-order{right:0;top:0;position:static;margin-left:5px;display:inline-block;}
.size-input-small .form-control{padding-left:5px;padding-right:5px;}
.size-input-small.size-input input[type="text"],.size-input-small.size-input input[type="number"]{width:55px;display:inline-block;margin-bottom:10px;}
.dinline-block{display:inline-block;}
.size-input-small .dinline-block{position:relative;top:-5px;}
body a:focus,body a:hover,body .btn:focus,body a:active,body .btn:active{outline:none;}
.table-hover .header.sortable span.ng-binding{/*white-space:nowrap;*/}
.or{background-color:#f5f5f5;border:1px solid #ccc;border-radius:30px;box-shadow:0 0 2px 2px rgba(0,0,0,0.11);display:inline-block;font-size:11px;font-weight:bold;margin:7px;padding:7px;}
.imgdim{max-width:100px;max-height:100px;width:100px;height:100px;}
.main-data-table .table>tbody+tbody{border-top:1px solid #ddd;}
.right-align-input .editable-controls input[type="text"]{min-width:55px;width:55px;height:25px;}
.right-align-input .editable-controls .editable-buttons button{padding:1px 6px;}
.right-align-input .editable{padding:1px 6px;color:#333;}
.right-align-input .editable:hover{color:#3498db;}
.right-align-input input{text-align:right;}
.main-order-table-tabs .nav.nav-tabs .disabled{position:relative;}
.main-order-table-tabs .nav.nav-tabs .disabled:before{content:"";width:100%;height:100%;position:absolute;cursor:not-allowed;z-index:1;}
.print-label-form span.help-block.has-error,.size-input.size-input-small span.help-block.has-error{position:absolute;}
body .tooltip{position:relative;display:inline-block;border-bottom:1px dotted black;opacity:1;}
body .tooltip-cost{position:relative;opacity:1;}
body .tooltip .tooltiptext{visibility:hidden;width:136px;background-color:black;color:#fff;text-align:center;padding:5px 10px;border-radius:6px;position:absolute;z-index:1;transition:opacity 1s ease 0s;-webkit-transition:opacity 1s ease 0s;-moz-transition:opacity 1s ease 0s;background-color:#555;}
body .tooltip-cost .tooltiptext{visibility:hidden;width:136px;background-color:black;color:#fff;text-align:center;padding:5px 10px;border-radius:6px;position:absolute;z-index:1;transition:opacity 1s ease 0s;-webkit-transition:opacity 1s ease 0s;-moz-transition:opacity 1s ease 0s;background-color:#555;}
body .tooltip-pl .tooltiptext{width:250px;margin-left:-118px;}
body .tooltip:hover .tooltiptext{visibility:visible;}
body .tooltip-cost:hover .tooltiptext{visibility:visible;}
body .tooltip-top:after{border-color:#555 rgba(0,0,0,0) rgba(0,0,0,0);border-style:solid;border-width:5px;content:"";left:50%;margin-left:-5px;position:absolute;top:100%;}
body .tooltip-top{bottom:125%;left:-0%;margin-left:-60px;}
.tooltip-common i.fa{color:#333;font-size:16px;}
.orange-bg{background-color:rgba(255,165,0,0.8)!important;color:rgb(0,0,0);}
.red-bg{background-color:rgba(255,0,0,0.7)!important;color:rgb(255,255,255);}
.green-bg{background-color:rgba(96,200,37,0.6)!important;color:#555;}
.green-list-bg{background-color:rgba(96,200,37,0.6)!important;color:transparent;}
.blue-light-bg{background-color:#e1eff9!important;}
.nav-tabs > li.active > a,.nav-tabs > li.active > a:focus,.nav-tabs > li.active > a:hover{background-color:#1d6fa5;color:#fff;position:relative;}
.nav-tabs > li.active > a:after,.horizontal-tab .nav-tabs a:hover:after,.horizontal-tab .nav-tabs a:focus:after{top:100%;left:50%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(29,111,165,0);border-top-color:#1d6fa5;border-width:10px;margin-left:-10px;z-index:2;}
body .horizontal-tab .nav-tabs  a.lowest-quote:hover:after,body .horizontal-tab .nav-tabs a.lowest-quote:focus:after{border-top-color:#60b439;}
.nav-tabs > li > a{margin-right:0px;padding:6px 10px 2px;min-height:37px;min-width:33px;}
.nav-tabs > li{background-color:#ededed;border-radius:5px 5px 0 0;float:left;margin-bottom:-1px;margin-right:2px;margin-top:10px;}
body .form-group{margin-bottom:30px;}
.m-l54{margin-left:54px!important;}
.m-r54{margin-right:54px!important;}
.currency-td{width:74px;min-width:74px;}

/*.horizontal-tab.horizontal-tab-costing .tab-content .active + div.tab-pane{display:block;}*/
.searchto-inputs .inputs-date p.input-group{width:43%;margin-bottom:5px;}
.delete-factory.fa-close:before{color:#fc0301;font-size:11px;}
.delete-factory{background-color:#fff;border:1px solid #fc0301;border-radius:30px;display:none;height:18px;line-height:16px;padding:0;position:absolute;right:-3px;text-align:center;top:-5px;width:18px;transition:0.5s all ease-in-out;}
.costing-tab-panel ul.nav.nav-tabs{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex;-webkit-flex-wrap:nowrap;flex-wrap:nowrap;}
.costing-tab-panel ul.nav.nav-tabs li{float:none;width:10px;max-width:180px;flex:1;}
.costing-tab-panel ul.nav.nav-tabs li:hover a .delete-factory{display:block;cursor:pointer;}
.costing-tab-panel ul.nav.nav-tabs li a.lowest-quote,.costing-tab-panel ul.nav.nav-tabs li.lowest-quote{background-color:#60b439;border:1px dashed #1d6fa5;color:#fff;text-shadow:1px 1px 2px rgba(0,0,0,0.1);}
.costing-tab-panel .tooltip-top{bottom:209%;left:50%;margin-left:-68px;}
.costing-tab-panel .tooltip{border:0;display:block!important;}
.costing-tab-panel .tooltip span.ng-binding{display:block;overflow:hidden;padding:5px 0 0;text-overflow:ellipsis;white-space:nowrap;max-width:170px;min-width:24px;width:100%;text-align:center;}
body .horizontal-tab .nav-tabs a:hover,body .horizontal-tab .nav-tabs a:focus{background-color:#1d6fa5;color:#fff;}
.costing-tab-panel.horizontal-tab .nav-tabs a:hover{color:#fff;}
.critical-path-management .searchto-inputs .inputs-date p.input-group{width:77%;}
.critical-path-management .searchto-inputs .inputs-date p.input-group .input-group-btn{width:1%;}
.ng-table-pager{float:left;}
.ng-table-counts{display:none;}
html body .center-block-text{display:inline-block;text-align:center;width:80%;font-size:15px;position:relative;top:10px;}

/* Highlight duplicate row*/
.duplicate td{background-color:#FEF8B4;}
.ng-table-counts{position:relative;}
.ng-table-counts:before{content:"Show Results";float:left;margin-right:8px;margin-top:8px;font-size:12px;}
.sortable div.ng-table-header{padding-right:12px;}
.ng-table th.sortable .sort-indicator:after,.ng-table th.sortable .sort-indicator:before{right:-13px;}
.ng-table th.sortable .sort-indicator{padding-right:0px;}
.required-validation{background-color:#f2dede!important;color:#333;}
.required-validation h4 span{color:#333;}
.f-14x{font-size:14px!important;}
.show-results .form-control{min-width:70px;}
.table-responsive .btn-primary{margin-bottom:15px;}
.table-responsive .table tr .form-group p{margin-bottom:0px;}
.searchto-inputs span.inputs-date small{position:relative;top:-3px;}
.col-md-6 .field-box.col-md-12{width:100%;}
.m-r75{margin-right:4.675rem;}
.p-l16{padding-left:1rem!important;}
body .cst-description textarea{min-height:65px;}
.addon-highlight{background-color:rgba(29,111,165,0.5);color:rgb(37,37,37);font-size:12px;}
.content .order-accordion .panel-body{min-height:inherit;}
.invoice-sh-btn{margin-left:-9.7px;}
.table-responsive table tr td .btn-primary{margin-bottom:0px;}
.btn-plformat{font-size:11px;margin-left:7px;color:#fff!important;}
.undo.btn-primary{color:#FFF;padding:2px 7px 3px 7px;font-size:12px;}
.m-t-26{margin-top:-26px!important;}
body .modal-title{font-size:21px;font-weight:400;}
.tbl-smallinput.table input.form-control{height:25px;padding:3px;}
body table td .form-group{margin-bottom:0px;}
.raise-order-top-det tr th{font-size:14px;color:#333;line-height:1.3;padding:6px 0;width:165px;}
.raise-order-top-det  tr td{font-size:14px;color:#333;line-height:1.3;padding:6px 0;}
.packinglist-form-inline .form-inline input.form-control{width:86px;}
.bg-none{background:none!important;position:relative;}
.bg-none:before{content:"";background:#FFF;height:1px;width:100%;position:absolute;top:-1px;left:0;}
.bg-white{background:#FFF!important;}
.bt-none{border-top:none!important;}
.v-align-b{vertical-align:bottom!important;}
.form-control-xss{display:inline-block;width:44px;}
.singless p{border-bottom:1px solid #333;margin:0;}
.btn-info.active{background-color:#269abc!important;border-color:#1b6d85!important;color:#fff!important;}
.table tbody tr td.right-align-input{vertical-align:middle;}
.table-responsive label > span.p-t10{display:inline-block;}
.white-space-nowrap{white-space:nowrap;}
.tab-pane .error-msg.has-error{white-space:normal;}
.uib-daypicker .btn-info .text-info{color:#fff;}
.p-relative{position:relative;}
td div.p-relative.has-error span.has-error.error-msg{float:left;}
.upload-img{margin-bottom:15px;}
.upload-img img{padding:3px;border:1px solid #e5e5e5;}
.upload-img .img-remove-btn{background-color:#ff6050;border-radius:4px;color:#fff;display:inline-block;font-size:17px;height:18px;line-height:17px;position:absolute;right:-6px;text-align:center;top:-7px;transition:all 0.4s ease-in-out 0s;width:18px;box-shadow:0px 0px 5px 1px rgba(0,0,0,0.7);}
.upload-img .img-remove-btn:hover{background-color:#ff2020;transform:rotate(360deg);border-radius:100px;box-shadow:0px 0px 5px 1px rgba(0,0,0,0.9);}
.btn-upload-pic .btn-primary{padding:7px 12px 9px;}
.massage-note{color:#444;font-size:11px;margin-bottom:15px;margin-top:10px;font-style:italic;}
.label-checkbox .icheckbox_square-green{top:-1px;}
.w100-pr{width:100%!important;}
.custom-5{width:36.999999%;}
.custom-4{width:24.333333%;}
.error-custom-msg{border:1px solid #FF0000;}
.m-t22{margin-top:2.175rem!important;}
.w80-pr{width:80%!important}
.arrow-down,.arrow-up{position:relative;}
.arrow-down:after{top:4px;left:-13px;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(255,0,0,0);border-top-color:#ff0000;border-width:8px;margin-left:-8px;}
.arrow-up:after{bottom:3px;left:-13px;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-color:rgba(32,201,20,0);border-bottom-color:#20c914;border-width:8px;margin-left:-8px;}
.green-checkbox .icheckbox_square-green{background-image:url("img/green.png");margin-top:6px;}
.z-index-high{z-index:9999;}
.table-responsive{min-height:150px;height:inherit;}
.table-responsive-big{overflow-y:auto;}
.btn-100-pr{width:100%;margin:15px 0;}
.main-data-table-order .carton-no-style .form-group input.form-control + span{float:left;}
.floatThead-wrapper .table-responsive{max-height:500px;}
.required-input{float:right;color:#e74c3c;font-size:11px;font-weight:600;}
.m-t-10{margin-top:-12px!important;}
body table.table>thead>tr.ng-table-filters th{background-color:#f5f5f5;}
table tr .overflow-text{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;width:130px;max-width:130px;}
.chart-toggle-button label{position:relative;vertical-align:top;margin-right:8px;}
.chart-toggle-button input[type="radio"]{visibility:hidden;position:absolute;}
.chart-toggle-button input[type="radio"]:checked + span{background-color:#3f5872;display:block;color:#fff;}

.order-toggle-section label{margin-right:18px;cursor:pointer;}
.order-toggle-section input[type="radio"] + span{padding-left:30px;}
.order-toggle-section input[type="radio"]:checked + span{background:none;color: #333;}
.order-toggle-section input[type="radio"] + span:before{content:"";margin-right:5px;position:absolute;left:-2px;font-size:12px;top:-3px;width:22px;height:22px;border:1px solid #D3CFC8;font-family:FontAwesome;}
.order-toggle-section input[type="radio"] + span:hover:before{border-color:#3498DB;}
.order-toggle-section input[type="radio"]:checked + span:before{background-color:#3498DB;content:"\f00c";color:#fff;text-align:center;line-height:21px;border-color:#3498DB;}
.plan-costing-section{position:relative;}
.plan-costing-section:before{position:absolute;content:'';width:3px;height:107%;right:-7px;top:0px;box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2) inset, 0px 0px 0px 0px rgba(0,0,0,0.2);border-radius:100%;z-index:1;}
.costing-details-wrapper .col-md-12 h3{border-bottom:1px solid #e4e5e7;padding-bottom:6px;font-size:15px;font-weight:bold;}
.chart-toggle-button{display:inline-block;margin-top:8px;}
.actual-costing-agent{margin-top:77px;}
.cst-description .form-inline.w100-pr .help-block.has-error{text-align:center;margin-left:-103px;}
.ui-select-match .text-muted{font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; line-height: 1.42857143; color: #555;}
.ui-select-match .caret{border-top: 5px dashed #555555; border-right: 3px solid transparent; border-left: 3px solid transparent;}
.ui-select-match .btn{border-radius:4px;}
.custom-checkbox{position: relative; padding-left: 30px;}
.custom-checkbox .icheckbox_square-green{position: absolute; left: 0; top: -1px;}
@media all and (-ms-high-contrast:none){
	.form-inline.form-inline-input .form-control{display:inline-block;}

	/* IE10 */
	*::-ms-backdrop,.form-inline.form-inline-input .form-control{display:inline-block;}

	/* IE11 */
	.w80{width:70px!important}
	*::-ms-backdrop,.w80{width:70px!important}
}
@media (max-width:1199px){
	.table-responsive{overflow:auto;}
}

/*main css ends here*/